file.dtd

<!ELEMENT BIBLIOTECA (LIBRO+)>
<!ELEMENT LIBRO (TITULO,AUTOR,EDITORIAL,CUBIERTA,CATEGORIA,ISBN,NOTA,COMENTARIOS)>
<!ELEMENT TITULO (#PCDATA)>
<!ELEMENT AUTOR (#PCDATA)>
<!ELEMENT EDITORIAL (#PCDATA)>
<!ELEMENT CUBIERTA EMPTY>
<!ATTLIST CUBIERTA TIPO NMTOKEN #REQUIRED>
<!ELEMENT CATEGORIA EMPTY>
<!ATTLIST CATEGORIA CLASE NMTOKEN #REQUIRED>
<!ELEMENT ISBN (#PCDATA)>
<!ELEMENT NOTA EMPTY>
<!ATTLIST NOTA CALIF NMTOKEN #REQUIRED>
<!ELEMENT COMENTARIOS (#PCDATA)>